.hero{
   width:100%;
   min-height:100vh; 
   background: #000000;
   background-size:cover;
   background-position: center;
   color: #000000;
   display:flex;
   /*align-items: center;
   justify-content:center;*/
  
   padding-right:100px;
   
    
}
.hero-text{

    text-align: left;
    
}
.hero-text h2{
    text-align:left;
    font-size:30px;
    padding-top: 20px;;
}


    
