@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ancizar Serif", serif;
}
body{

    background: #ffffff;
    width:fit-content;
}
a{
  text-decoration:dotted ;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left:2%;
  padding-right:2%;
}
.btn{
  background: #000000;
  color: #ffffff;
  padding:14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}
